{"filter":false,"title":".htaccess","tooltip":"/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":33,"column":0},"end":{"row":33,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"2fd09a1ceb3f8000339881deeea4b4ced1f67749","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":36},"end":{"row":5,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":5,"column":0},"end":{"row":5,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":5,"column":2},"end":{"row":5,"column":38},"action":"insert","lines":[" php_value opcache.revalidate_freq 0"],"id":3}]]},"timestamp":1495370196573}